@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.personal-details-form {
    display: flex;
    flex-wrap: wrap;
    margin: $default-spacing * 0.75;

    > div {
        flex: 1 1 200px;  
        margin: $default-spacing * 0.75;
    }
}