@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_fonts.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

h1, h2, h3, h4, h5, h6 {
    @include header-font();
    color: $color-text-primary;
}

html, body, #root, #app {
    @include body-font();

    min-height: 100%;
    width: 100%;
}

#app {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
}
