@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

$project-card-width: $default-spacing * 45;

.profile-card {
    align-self: center;
    display: flex;
    width: 100%;

    .avatar-icon {
        font-size: 30px;
        height: 64px;
        margin-right: $default-spacing*2;
        width: 64px;
    }

    .profile-card-details-section {
        margin: 0 auto;
        flex: 2;

        .profile-card-title {
            font-size: $font-size-title;
            font-weight: bold;
            margin-bottom: $default-spacing * 0.75;
        }

        .profile-card-subtitle {
            color: $color-primary;
            font-size: $font-size-subtitle;
            margin-bottom: $default-spacing;
            margin-top: $default-spacing * 0.75;
        }

        .profile-card-contact {
            margin-top: $default-spacing * 0.5;

            .profile-card-text {
                align-items: center;
                color: $color-neutral-6;
                display: flex;
                font-size: $font-size-content;
                margin: $default-spacing*0.75 0;

                svg {
                    font-size: $font-size-content;
                    margin-right: $default-spacing * 0.25;
                }
            }

            .profile-card-text:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.filter-button--active {
        background-color: $color-primary;
        color: $color-light;
    }

    .profile-card-extras {
        display: none;
        width: 100%;

        &.profile-card-extras--people {
            display: flex;
            flex: 3;
            justify-content: space-between;
            width: 100%;
        }

        .profile-card-extras-skills-section {
            display: flex;

            .profile-card-extras-skills-content {
                align-content: flex-start;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: auto $default-spacing;
            }
        }

        .profile-card-extras-nav-section {
            align-items: center;
            display: flex;

            .profile-card-extras-nav {
                color: $color-text-secondary;
            }
        }
        .profile-card-details-edit-button {
            align-self: baseline;
            padding: 3px;

            svg {
                font-size: $font-size-subtitle;
            }
        }

        &.profile-card-extras--profile {
            display: flex;
            flex: 3;
            justify-content: flex-end;

            .profile-card-extras-edit-button {
                align-self: baseline;
                padding: 3px;

                svg {
                    font-size: $font-size-subtitle;
                }
            }
        }
    }
}

