@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";
@import "styles/_media_queries.scss";

$search-card-width: $default-spacing * 45;

@mixin query-search-card-width {
    @media (max-width: #{$search-card-width}) {
        @content
    }
}

.search {
    height: calc(100% - #{$navbar-height});
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.loading-indicator {
    align-self: center;
    justify-self: center;
}

.list-container {
    padding: 0 $default-spacing*2;
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$navbar-height});
    overflow: auto;
    align-items: center;

    .list-container-flex-padding {
        margin: $default-spacing * 0.5;
    }

    .profile-list-card {
        display: flex;
        flex-shrink: 0;
        margin-bottom: $default-spacing;
        margin-top: $default-spacing;
        padding: $default-spacing * 2;
        width: $search-card-width;
        @include animate(bounceIn, 0.5s);
        @include query-search-card-width {
            width: auto;
            min-width: $minimum-width;
        }
        @include hover-box-shadow;
    }

    .projects-list-card {
        @include animate(bounceIn, 0.5s);
        @include hover-box-shadow;
        margin: $default-spacing 0;
    }
}


.empty-search {
    margin: auto;
    padding: $default-spacing;
    @include animate(bounceIn, 0.5s);
    @include hover-box-shadow;

    .empty-search-heading {
        font-size: $font-size-title;
    }
}

.search-input {
    display: flex;
    justify-content: center;
    padding: $default-spacing;
    padding-bottom: 0;


    .input-base {
        position: relative;
        background-color: $color-light;
        font-size: 16px;
        height: 100%;
        min-width: $default-spacing*5;

        &:focus {
          border-radius: 4px;
          border-color: #80bdff;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
    }

    .search-box {
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: $default-spacing * 0.5 $default-spacing;
        border-radius: 25px;
    }

    .search-icon {
        padding: 5px;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    padding: $default-spacing;
    border-top: 1px solid $color-text-secondary;

    .paginator {
        display: flex;

        li {
            background-color: $color-light;
            display: flex;
            border: 1px solid $color-neutral-7;
            border-right: 0;

            a {
                height: 100%;
                padding: 10px 10px;
                text-decoration: none;
                user-select: none;
            }


            &:last-child {
                border: 1px solid $color-neutral-7;
                border-top-right-radius: $pagination-border-radius;
                border-bottom-right-radius: $pagination-border-radius;
                a {
                    border-top-right-radius: $pagination-border-radius;
                    border-bottom-right-radius: $pagination-border-radius;
                }
            }

            &:first-child {
                border-top-left-radius: $pagination-border-radius;
                border-bottom-left-radius: $pagination-border-radius;
                a {
                    border-top-left-radius: $pagination-border-radius;
                    border-bottom-left-radius: $pagination-border-radius;
                }
            }

            &.active {
                transition: background-color 0.5s ease,
                            color 0.5s ease;
                background-color: $color-primary;
                color: $color-light;
            }
        }
    }
}
