@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

#project-info {
    .project-info-card-active-section {
        align-self: flex-start;
        display: flex;
        flex: 1;
    }

    .project-info-card-content-section {
        flex: 4;
        margin-left: $default-spacing;

        .project-info-card-name {
            margin-bottom: $default-spacing;
        }

        .project-info-card-description {
            color: $color-text-secondary;
        }
    }

    .project-info-card-edit-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button {
            margin: -9px 0;
        }

        .project-info-card-edit-button {
            display: flex;

            svg {
                font-size: $font-size-subtitle;
            }
        }

        .project-info-card-add-button{
            display: flex;
            padding: 9px;

            svg {
                font-size: $font-size-title;
            }
        }
    }
}