@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

.popup {
    display: flex;

    .popup-content--error {
        background-color: $color-attention-5;
        font-size: $font-size-content;
    }

    .popup-content--success {
        background-color: $color-secondary-4;
        font-size: $font-size-content;
    }

    .popup-content-message {
        display: flex;
        align-items: center;
        line-height: 1;
    }

    .popup-content-icon {
        font-size: $font-size-content * 1.25;
        margin-right: $default-spacing * 0.75;
    }
    .popup-edit-icon {
        color: $color-light;
    }
}