@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

$project-card-width: $default-spacing * 45;

@mixin query-project-card-width {
    @media (max-width: #{$project-card-width}) {
        @content
    }
}

.profile-content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $default-spacing * 4;
    padding-top: $default-spacing;

    .profile-content-title {
        color: $color-neutral-6;
    }

    .profile-page-card:first-child {
        margin-top: $default-spacing;
    }
}

.invalid-profile {
    justify-self: center;
    align-self: center;
    padding: $default-spacing * 1.5;
    text-align: center;

    .invalid-profile-heading {
        font-size: $font-size-title;
    }
}

.profile-page-card{
    display: flex;
    flex: 1;
    margin-bottom: $default-spacing * 2;
    margin-top: $default-spacing;
    padding: $default-spacing * 2;
    width: 100%;

    @include query-project-card-width {
        width: auto;
    }
}

#profile-personal-details {
    max-width: $tablet-width;
    width: 100%;

    .profile-card-details-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .profile-card-details {
            width: 90%;
            padding-right: 0;
        }
    }
}

#profile-skills {
    display: flex;
    flex-direction: column;
    max-width: $tablet-width;
    width: 100%;

    .profile-card-skills {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .profile-card-edit-skills-button {
            margin: -9px 0;

            svg {
                font-size: $font-size-subtitle;
            }
        }

    .profile-card-skills-header-section {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

}

#profile-projects {
    max-width: $tablet-width;
    width: 100%;

    .profile-card-projects {
        flex-direction: column;
        padding: 0;

        .profile-project-card {
            margin: $default-spacing 0;
            width: auto;

            @include max-laptop-width {
                .project-card-content-section{
                    margin-left: $default-spacing;
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}