@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.profile {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: calc(100% - 80px);
    justify-content: space-between;
    padding: 0;

    .profile-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        padding: $default-spacing;

        .profile-content-title {
            color: $color-neutral-6;
        }
        .profile-content-card {
            margin: 16px $default-spacing*5 $default-spacing 0px;
            padding: $default-spacing;
        }
    }

    .profile-sidebar {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: $default-spacing * 2;        

        .profile-list-item {
            border-left: 3px solid transparent;
            padding: $default-spacing * 0.5 $default-spacing * 1.5;
            a {
                color: inherit;
                text-decoration: none;
            }
        }        

        .is-current {
            background-color: $color-light;
            border-left: 3px solid $color-primary !important;
            font-weight: bold;
        }
    }   
}
