@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

.profile-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $default-spacing*2;

    .profile-content-title {
        color: $color-neutral-6;
    }

    .profile-card:first-child {
        margin-top:$default-spacing;
    }

    .profile-card {
        display: flex;
        margin:  $default-spacing 0;
        padding: $default-spacing*2;

        .profile-card-picture {
            font-size: 30px;
            height: 64px;
            width: 64px;
        }
        
        .profile-card-content {
            margin: 0 $default-spacing*2;

            .profile-card-title {
                font-size: $font-size-title;
                font-weight: bold;
                margin-bottom: $default-spacing*0.7;
            }

            .profile-card-subtitle {
                color: $color-primary;
                font-size: $font-size-subtitle;
                margin-bottom: $default-spacing;
                margin-top: $default-spacing*0.7;
            }

            .profile-card-contact {
                margin-top: $default-spacing*0.5;
                
                .profile-card-text {
                    align-items: center;
                    color: $color-neutral-6;
                    display: flex;
                    font-size: $font-size-content;
                    margin: $default-spacing*0.7 0;

                    svg {
                        font-size: $font-size-content;
                        margin-right: $default-spacing*0.2;
                    }
                }

                .profile-card-text:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
