@import "styles/_colors.scss";
@import "styles/_dimens.scss";

.auth-branding {
    z-index: 1;
    align-items: center;
    background-color: $color-primary;
    display: flex;
    flex: 1;
    justify-content: center;

    .auth-branding-container {
        align-items: center;
        display: flex;

        .auth-branding-name {
            color: $color-light;
            margin-left: $default-spacing;
            font-size: 60px;
        }
    }
}
