@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.projects-header {
    border-bottom: 1px solid $color-text-secondary;
    display: flex;
    justify-content: center;
    padding: $default-spacing;

    .filter-button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-radius: $default-border-radius;
        color: $color-text-secondary;
        margin: 0 16px;
        padding: $default-spacing/2 $default-spacing*1.5;
        text-transform: none;

        &.filter-button--active {
            background-color: $color-primary;
            color: $color-light;
        }
    }
}
