@mixin keyframes-with-compatibility($identifier) {
    @-moz-keyframes #{$identifier} {
        @content;
    }
    @-webkit-keyframes #{$identifier} {
        @content;
    }
    @-webkit-keyframes #{$identifier} {
        @content;
    }
    @-ms-keyframes #{$identifier} {
        @content;
    }
    @-o-keyframes #{$identifier} {
        @content;
    }
    @keyframes #{$identifier} {
        @content;
    }
}

@include keyframes-with-compatibility(bounceIn){
    0% {
      transform: scale(0.75);
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@include keyframes-with-compatibility(cardHoverOutline){
    0% {
        box-shadow: 0px 0px 0px grey;
    }
    100% {
        transition:  box-shadow .6s ease-out;
           box-shadow: 20px 20px 3px green;
        -webkit-transition:  box-shadow .6s ease-out;
           box-shadow: 20px 20px 3px green;
    }
}
