$default-border-radius: 50px;
$default-spacing: 16px;
$navbar-height: 70px;

$smooth-transition: cubic-bezier(0.4, 0.0, 0.2, 1);

$font-size-title: 24px;
$font-size-subtitle: 18px;
$font-size-content: 14px;

$pagination-border-radius: 16px;