$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$minimum-width: 600px;

$laptop-height: 767px;

@mixin tablet-width {
    @media (min-width: #{$tablet-width}) {
        @content
    }
}

@mixin laptop-width {
    @media (min-width: #{$laptop-width}) {
        @content
    }
}

@mixin desktop-width {
    @media (min-width: #{$desktop-width}) {
        @content
    }
}

@mixin laptop-height {
    @media (min-height: #{$laptop-height}) {
        @content
    }
}

