@import "styles/_colors.scss";

$default-transition-time: 0.1s;
$default-percentage: 5%;

@mixin smooth-transition-all() {
    transition: all $default-transition-time $smooth-transition;
}

@mixin header-font() {
    font-family: "Roboto", sans-serif;
}

@mixin body-font() {
    font-family: "Roboto", sans-serif;
}

@mixin fab-dropshadow() {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

@mixin hover-background($color, $hover-color) {
    @include smooth-transition-all();

    background-color: $color;

    &:hover, &:focus {
        background-color: $hover-color;
    }
}

@mixin hover-text($color, $hover-color) {
    @include smooth-transition-all();

    color: $color;

    &:hover, &:focus {
        color: $hover-color;
    }
}

@mixin hover-border($color, $hover-color) {
    @include smooth-transition-all();

    border-color: $color;

    &:hover, &:focus {
        border-color: $hover-color;
    }
}
