@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.landing {
    display: flex;
    flex-direction: column;
    height: 100%;

    .landing-header {
        align-items: center;
        background-color: $color-primary;
        display: flex;
        height: $navbar-height;
        justify-content: space-between;
        padding: 0 $default-spacing*2;

        .logo-icon {
            height: 32px;
            width: 32px;
        }

        .landing-auth {
            display: flex;

            button {
                background: none;
                border: none;
                font-weight: bold;
                font-size: 16px;
            }

            .landing-login {
                color: $color-light;
                padding: $default-spacing/2 $default-spacing*1.5;
            }

            .landing-signup {
                @include hover-background($color-light, darken($color-light, 5%));

                align-items: center;
                border-radius: $default-border-radius;
                color: $color-primary;
                display: flex;
                margin-left: $default-spacing * 2;
                padding: $default-spacing/2 $default-spacing*1.5;
            }
        }
    }

    .landing-content {
        @include background-image("/images/landing-background.jpg", 30%, 0.6, center, center);
        @include flip-image();

        background: #ffffff;
        height: 100%;
        position: relative;

        .landing-jumbotron {
            align-items: center;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            margin-top: 30vh;
            margin-left: $default-spacing;
            width: 50%;
            z-index: 1;

            .landing-tagline {
                color: $color-primary;
                font-size: $font-size-title * 2;
                font-weight: bold;
                margin-bottom: $default-spacing * 2;
                text-align: center;
                z-index: inherit;
            }

            .landing-create-profile {
                @include hover-background($color-primary, $color-primary-hover);
                @include fab-dropshadow();

                align-items: center;
                border-radius: $default-border-radius;
                color: $color-light;
                display: flex;
                padding: $default-spacing $default-spacing*2;
                z-index: inherit;
            }
        }
    }
}
