@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.login {
    @include background-image("/images/login-background.jpg", 100%, 0.5, top, left);

    display: flex;
    min-height: 100%;

    .login-form {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
