@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

.project .scroll-nav .list-item:last-child {
    margin-top: $default-spacing*1.5;
}

.invalid-project{
    justify-self: center;
    align-self: center;
    padding: $default-spacing * 1.5;
    text-align: center;

    .invalid-project-heading {
        font-size: $font-size-title;
    }
}

#project-contributors {

    .project-contributors-content {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fill, 100px);
        padding: $default-spacing*1.5;
        flex-wrap: wrap;
    }
}

.project-contributors-badge {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;

    .project-contributors-badge-name {
        margin: $default-spacing;
        margin-bottom: 0;
        text-align: center;
        font-size: $font-size-content;
    }
}

.project-details-card {
    display: flex;
    flex: 1;
    margin: $default-spacing*2 0;
    padding: $default-spacing*2;
}

.project-details-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 $default-spacing*4;
    padding-top: $default-spacing;

    .project-details-content-title {
        color: $color-neutral-6;
    }

    .project-details-card:first-child {
        margin-top: $default-spacing;
    }
}

#project-used-skills {

    .project-used-skills-content {
        flex-wrap: wrap;
        padding: $default-spacing*1.5 $default-spacing*1.5;
    }
}



