@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

.project .scroll-nav .list-item:last-child {
    margin-top: $default-spacing*1.5;
}

.project-details-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 $default-spacing*4;
    padding-top: $default-spacing;


    .project-details-content-title {
        color: $color-neutral-6;
    }

    .project-details-card:first-child {
        margin-top: $default-spacing;
    }
}

.project-details-card {
    display: flex;
    flex: 1;
    margin: $default-spacing*2 0;
    padding: $default-spacing*2;
}

#project-info {

    .project-info-card-active-section {
        align-self: flex-start;
        display: flex;
        flex: 1;
    }

    .project-info-card-content-section {
        flex: 4;

        .project-info-card-description {
            color: $color-text-secondary;
        }

        .project-info-card-name {
            margin-bottom: $default-spacing;
        }

    }

}
#project-used-skills {
    .project-used-skills-content {
        flex-wrap: wrap;
        padding: $default-spacing*1.5 $default-spacing*1.5;
    }
}

#project-contributors {
    .project-contributors-content {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fill, 100px);
        padding-top: 0;
        flex-wrap: wrap;
    }

}

.project-contributors-badge {
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: $default-spacing;

        .project-contributors-badge-name {
            text-align: center;
            font-size: $font-size-content;
        }
    }

