@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";

.scroll-nav .list-item:last-child{
    margin-top: $default-spacing;
}
.project-details-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $default-spacing ;

    .project-details-content-title {
        color: $color-neutral-6;
    }

    .project-details-card:first-child {
        margin-top: $default-spacing;
    }

    .project-details-card {
        display: flex;
        margin:  $default-spacing 0;
        padding: $default-spacing * 2;

        .project-details-card-picture {
            font-size: 30px;
            height: 64px;
            width: 64px;
        }

        .project-details-card-content {
            margin: 0 $default-spacing*2;

            .project-details-card-title {
                font-size: $font-size-title;
                font-weight: bold;
                margin-bottom: $default-spacing * 0.75;
            }

            .project-details-card-subtitle {
                color: $color-primary;
                font-size: $font-size-subtitle;
                margin-bottom: $default-spacing;
                margin-top: $default-spacing * 0.75;
            }

            .project-details-card-contact {
                margin-top: $default-spacing * 0.5;

                .project-details-card-text {
                    align-items: center;
                    color: $color-neutral-6;
                    display: flex;
                    font-size: $font-size-content;
                    margin: $default-spacing*0.75 0;

                    svg {
                        font-size: $font-size-content;
                        margin-right: $default-spacing * 0.25;
                    }
                }

                .project-details-card-text:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}