@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";

.scroll-container {
    height: calc(100% - #{$navbar-height});
    overflow: auto;

    .content-area{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: $tablet-width;
        min-height: 100%;
        min-width: $minimum-width;
        padding: 0 $default-spacing;

        .loading-button-indicator {
            align-self: center;
            justify-self: center;
        }

        @include laptop-width {
            & {
                max-width: $laptop-width;
            }
        }

        @include desktop-width {
            & {
                max-width: $desktop-width;
            }
        }
    }
}