@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";
@import "styles/_media_queries.scss";

.edit-skills-dialog {
    #edit-skills-title {
        padding-bottom: $default-spacing * 0.5;

        h6 {
            font-weight: 700;
        }
    }
    .edit-skills-dialog-text{
        padding: $default-spacing*0.5;
        width: 100%;
    }
    .chip-array{
        margin-bottom: $default-spacing;
        width: 400px;
        .chip-array-skill{
            margin: $default-spacing*0.25 $default-spacing*0.3;
            &.chip-array-skill--skilled {
                background-color: $color-secondary;
                color: $color-light;
            }
        }
    }
}