@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";
@import "styles/_media_queries.scss";

.edit-skills-dialog {
    #edit-skills-title {
        padding-bottom: $default-spacing * 0.5;

        h6 {
            font-weight: 700;
        }
    }
    .chipArray{
        width: 400px;
        .chipArraySkill{
            margin: $default-spacing*0.25 $default-spacing*0.3;
        }
    }
}