@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_media_queries.scss";
@import "styles/_mixins.scss";
.avatar-icon-content {

    .avatar-icon {
        margin: auto;
        font-size: 24px;
        height: 48px;
        width: 48px;
    }
}