@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.signup {
    display: flex;
    min-height: 100%;

    .signup-form {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
