@import "styles/_colors.scss";
@import "styles/_dimens.scss";
@import "styles/_mixins.scss";

.signup {
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 100%;

    .signup-form {
        @include background-image("/images/signup-background.jpg", 100%, 0.5, top, left);

        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}